<div markdown="span" class="alert alert-danger" role="alert">
	<em class="fa fa-exclamation-circle"></em>
	<strong>Version:</strong> This is an <strong>old version</strong> of the GP Connect Messaging specification. For the current version please see the <a href='https://developer.nhs.uk/gp-connect-specification-versions/'>versions <br/>page</a>.
    <br/>
	<br/>If you're looking for the GP connect FHIR&reg; API, please visit <a href="https://developer.nhs.uk/gp-connect-specification-versions/">GP Connect Specification Versions</a>

	</div>